<div class="container">
  <% if session[:id].nil? %>
    <h2>Welcome</div>
  <% else %>
    <table width="500">
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
      <% User.all.each do |user|%>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
      </tr>
    <%end %>
  </table>
  <% end %>
</div>
