<div class="container">

  <% if session[:id] != nil && @user %>
    Logged in as: <%= @user.name %>
    <div class="user_list">
      <br>
      <table border="1">
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %>
            <td><%= user.email %>
        <% end %>
        </table>
    </div>
  <% else %>
    Welcome
  <% end %>


</div>
