<div class="container">
  <% if @logged_in %>
    <ul>
      <% @users.each do |user| %>
        <%= user.email %>
      <% end %>
    </ul>
    <%= erb :sign_out %>
  <% else %>
    <h1>Welcome!</h1>
  <% end %>
</div>