<div class="container">


  <% if session[:id] %>
  WELCOME!!!!!
  WELCOME!!!!!
  <% @users.each do |user| %>
  <p> <%= user.name %> </p>
  <% end %>
 	<% else %>
 	Plese Sign In or Create an Account
 <% end %>
  </div>
