<div class="container">
  <% if @logged_in = true %>
    <% @users.each do |user| %>
      <div class="user-display">
        <p><% user.name %></p>
        <p><% user.name %></p>
        <p><% user.access_level %></p>
      </div>
    <% end %>
  <% else %>
    <h2>Welcome!</h2>
  <% end>
</div>
